<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-primary m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">New User</span>
            <button mat-icon-button aria-label="Close dialog" (click)="dialogRef.close()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content class="p-24 pb-0 m-0">
        <form [formGroup]="addUserForm">
            <div class="pb-1">
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Name</mat-label>
                    <input name="name" formControlName="name" matInput type="name">
                    <!-- <mat-icon matSuffix class="secondary-text">email</mat-icon> -->
                    <mat-error
                        *ngIf="addUserForm.controls['name'].hasError('required') && addUserForm.controls['name'].touched"
                        class="form-error-msg"> Name is required </mat-error>
                    <mat-error
                        *ngIf="addUserForm.controls['email'].hasError('email') && addUserForm.controls['email'].touched"
                        class="form-error-msg"> Invaild email address </mat-error>
                </mat-form-field>
            </div>
            <div class="pb-1">
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Email</mat-label>
                    <input name="email" formControlName="email" matInput type="email">
                    <mat-icon matSuffix class="secondary-text">email</mat-icon>
                    <mat-error
                        *ngIf="addUserForm.controls['email'].hasError('required') && addUserForm.controls['email'].touched"
                        class="form-error-msg"> Email is required </mat-error>
                    <mat-error
                        *ngIf="addUserForm.controls['email'].hasError('email') && addUserForm.controls['email'].touched"
                        class="form-error-msg"> Invaild email address </mat-error>
                </mat-form-field>
            </div>
            <div class="pb-1">
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Password</mat-label>
                    <input type="password" [type]="hide ? 'password' : 'text'" name="password" matInput
                        formControlName="password" placeholder="Password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error
                        *ngIf="addUserForm.controls['password'].hasError('required') && addUserForm.controls['password'].touched"
                        class="form-error-msg"> Password is required </mat-error>
                </mat-form-field>
            </div>
        </form>
    </div>
    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button color="primary" [disabled]="addUserForm.invalid" (click)="addUser()" aria-label="SAVE">ADD</button>
    </div>
</div>