<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-primary m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">New Client</span>
            <button mat-icon-button aria-label="Close dialog" (click)="dialogRef.close()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content class="p-24 pb-0 m-0">
        <form [formGroup]="addLeadForm">
            <div class="pb-1" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Select</mat-label>
                    <mat-select formControlName="salutaion">
                        <mat-option value="Mr.">Mr.</mat-option>
                        <mat-option value="Mrs.">Mrs.</mat-option>
                        <mat-option value="Miss">Miss</mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="addLeadForm.controls['salutaion'].hasError('required') && addLeadForm.controls['salutaion'].touched"
                        class="form-error-msg">Salutation is required </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>First Name</mat-label>
                    <input name="first_name" formControlName="first_name" matInput type="text">
                    <mat-error
                        *ngIf="addLeadForm.controls['first_name'].hasError('required') && addLeadForm.controls['first_name'].touched"
                        class="form-error-msg"> First Name is required </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Last Name</mat-label>
                    <input name="last_name" formControlName="last_name" matInput type="text">
                    <mat-error
                        *ngIf="addLeadForm.controls['last_name'].hasError('required') && addLeadForm.controls['last_name'].touched"
                        class="form-error-msg"> Last Name is required </mat-error>
                </mat-form-field>
            </div>
            <div class="pb-1" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Phone</mat-label>
                    <input name="phone" formControlName="phone" matInput type="number">
                    <mat-error
                        *ngIf="addLeadForm.controls['phone'].hasError('required') && addLeadForm.controls['phone'].touched"
                        class="form-error-msg">Phone is required </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Email</mat-label>
                    <input name="email" formControlName="email" matInput type="email">
                    <mat-error
                        *ngIf="addLeadForm.controls['email'].hasError('required') && addLeadForm.controls['email'].touched"
                        class="form-error-msg"> Email is required </mat-error>
                    <mat-error
                        *ngIf="addLeadForm.controls['email'].hasError('email') && addLeadForm.controls['email'].touched"
                        class="form-error-msg"> Invaild email address </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Alternate Email</mat-label>
                    <input name="alternate_email" formControlName="alternate_email" matInput type="email">
                </mat-form-field>
            </div>

            <div class="pb-1" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Select Sources</mat-label>
                    <mat-select formControlName="lead_source_id">
                        <mat-option *ngFor="let item of sources" [value]="item.id">{{item.name}}</mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="addLeadForm.controls['lead_source_id'].hasError('required') && addLeadForm.controls['lead_source_id'].touched"
                        class="form-error-msg"> Source is required </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Select Type</mat-label>
                    <mat-select formControlName="lead_type_id">
                        <mat-option *ngFor="let item of leadTypes" [value]="item.id">{{item.name}}</mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="addLeadForm.controls['lead_type_id'].hasError('required') && addLeadForm.controls['lead_type_id'].touched"
                        class="form-error-msg"> Type is required </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Select Stage</mat-label>
                    <mat-select formControlName="lead_stage_id">
                        <mat-option *ngFor="let item of leadStages" [value]="item.id">{{item.name}}</mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="addLeadForm.controls['lead_stage_id'].hasError('required') && addLeadForm.controls['lead_stage_id'].touched"
                        class="form-error-msg"> Stage is required </mat-error>
                </mat-form-field>
            </div>
            <div class="pb-1" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Service Intrested In</mat-label>
                    <input name="phone" formControlName="service_intrested_in" matInput type="text">
                </mat-form-field>
                <textarea name="description" cols="30" rows="5" style="width: 100%;"
                    placeholder="Write Something Here..." fornControlName="description"></textarea>
            </div>
        </form>
    </div>
    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <!-- FOr Create-->
        <button mat-raised-button color="primary" *ngIf="btnStatus && type == ''" disabled
            aria-label="SAVE">ADD</button>
        <button mat-raised-button color="primary" *ngIf="!btnStatus && type == ''" [disabled]="addLeadForm.invalid"
            (click)="create()" aria-label="SAVE">ADD</button>
        <!-- FOr Edit-->
        <button mat-raised-button color="primary" *ngIf="btnStatus && type == 'edit'" disabled
            aria-label="SAVE">UPDATE</button>
        <button mat-raised-button color="primary" *ngIf="!btnStatus && type == 'edit'" [disabled]="addLeadForm.invalid"
            (click)="edit()" aria-label="SAVE">UPDATE</button>
    </div>
</div>